// colors
$greenColor:#639B7B;
$darkBrown: #5d4128;
$creamColor: #dfdeae;
$almostBrown: #74611d;
$lightCream: #bdc1ab;
$color: #977432;
$white: #ffffff;

$colornew: #63839b;
$colorsecond: #9b7763;
$colorThird: #e69915;


